<div class="overlay">
  <div class="modal">
    <div class="tabs">
      <ul>
        <li (click)="changeState(0)" [ngClass]="{'active': currentState == 0}">Login</li>
        <li (click)="changeState(1)" [ngClass]="{'active': currentState == 1}">Sign in</li>
      </ul>
    </div>
    <div class="login-content">
        <p>{{states.message[currentState]}}</p>

        <!-- <input type="text" placeholder="email" id="email" [(ngModel)]="user.email" required>

        <input type="password" placeholder="password" id="password" [(ngModel)]="user.password" required> -->

        <button (click)="onSubmit()">{{states.button[currentState]}}</button>
        <button class="cancel">Cancel</button>
    </div>
  </div>
</div>
