<div class="overlay" *ngIf="showForm">
  <div class="modal">
    <div class="tabs">
      <ul>
        <li (click)="changeState(0)" [ngClass]="{'active': currentForm == 0}">Login</li>
        <li (click)="changeState(1)" [ngClass]="{'active': currentForm == 1}">Sign in</li>
      </ul>
    </div>
    <div class="login-content">
        <p>{{states.message[currentForm]}}</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <input *ngIf="currentForm == 1" type="text" placeholder="name" formControlName="name" name="name">

          <input type="text" placeholder="email" formControlName="email" name="email" required>

          <input type="password" placeholder="password" formControlName="password" name="password" required>

          <button type="submit">{{states.button[currentForm]}}</button>

          <button class="cancel">Cancel</button>
          
        </form>

    </div>
  </div>
</div>
